<ion-view view-title="Account">
	<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      My account
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding">

    <div class="">
      <div class="card" style="margin-top: 10px; padding: 10px; background-color: #db5149">
        <p style="color: #fff; text-align: center; ">My code</p>
        <h3 style="color: #fff; text-align: center;margin-top: 5px;">{{ code }}</h3>
      </div>
      <div class="list card">
        <img src="img/friendly.svg" class="no-account-image">
        <h4 style="text-align: center;">More Friends, More Rewards!</h4>
        <p style="margin: 2em 2em 1em; text-align: center;">Ask your friends to use your promo code to get exciting rewards</p>
      </div>
      <div class="card" style="margin-top: 10px; padding: 13px; color: #db5149; font-size: 14px;" ng-click="share()">
        <i class="ion-person-add"></i>
        &nbsp;&nbsp;&nbsp;Invite friends to use ROB
      </div>
    </div>

  </ion-content>
</ion-view>
