<ion-view hide-tabs>
	<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      Change Phone Number
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
  	<div style="margin: auto; margin-top: 10px; width: 90%; display: block; ">
		<form name="userForm">
            <p style="color: #bc212d; float: none; margin: auto; display: block; text-align: center">{{ error }}</p>
			<label class="item item-input" style="margin: 20px 0">
				<input type="tel" ng-model="phone" placeholder="Phone Number" ng-minlength="10" ng-maxlength="10" name="phone" type="tel" required>
			</label>
			<button class="button button-block button-dark" type="submit" ng-click="submit(userForm)" >Submit</button>
		</form>
	</div>
	</ion-content>
</ion-view>